.education {
  background-color: #1B1E25;
  padding: 70px 0;
  color: white;
  position: relative;
}

.education-title {
  text-align: center;
  font-weight: 300;
  max-width: 500px;
  margin: 0 auto;
  h2 {
    color: white;
  }
}

.line-white {
  width: 50px;
  height: 2px;
  background-color: rgba(white, .2);
  margin: 20px auto;
}

.icon-education {
  height: 50px;
  width: 50px;
  border-radius: 5px;
  background-color: white;
  transform: rotate(45deg);
  img {
    transform: rotate(-45deg);
    height: 35px
  }
}

.content-education  {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  p {
    margin-top: 20px;
  }
}
