.info {
  background-color: #F5F6FA;
  padding: 70px 0;
  position: relative;
  height: auto;
  color: #1B1E25;
  text-align: left;
  h2 {
    padding-left: 0px;
    margin-bottom: 0px;
    text-align: left;
  }
  .container{
    padding-top: 0px;
  }
}

.contact-links {
  display: flex;
  align-items: baseline;
  margin-bottom: 12px;
  i {
    padding-right: 15px;
    color: #FF6863;
    // opacity: 0.7;
  }
  a {
    color: rgba(0,0,0,1);
    text-decoration: none;
  }
}

.content-info {
  margin-top: 40px;
}


