.portfolio {
  background-image: linear-gradient(rgba(black, 0.6), rgba(black, 0.6)), url('../images/make.jpg');
  background-size: cover !important;
  background-attachment: fixed;
  padding: 5% 0;
  color: white;
  position: relative;
  .container {
    padding-top: 0;
  }
  .line-center {
    margin-top: -5px;
  }
}

