.portfolio {
  position: relative;
  padding: 80px 0;
  p {
    font-weight: lighter;
    text-align: justify;
  }
  h3 {
    padding-left: 0;
    font-size: 22px;
    font-weight: 600;
  }
}

.macbook {
  max-height: 250px;
}
