.portfolio {
  position: relative;
  padding: 80px 0;
  p {
    font-weight: lighter;
    text-align: justify;
  }
  h3 {
    padding-left: 0;
    font-size: 22px;
    font-weight: 600;
  }
}

.content-portfolio {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.macbook {
  max-width: 400px;
}

.container-macbook {
  display: flex;
  justify-content: center;
  align-items: center;
}
