@media (max-width:768px ) {
  .title{
    p {
      padding: 0px 20px;
    }
  }
  .who {
    padding-left: 20px;
    padding-right: 20px;
    h2 {
      text-align: center;
    }
    p {
      text-align: justify;
    }
    .container-info {
      display: flex;
      flex-direction: column;
    }
    .container-photo {
      margin: 0 auto;
      padding-right: 0;
    }
  }
  .line-left {
    margin: 0 auto;
    margin-bottom: 20px;
  }
  .info {
   padding-left: 20px;
   padding-right: 20px;
   text-align: center;
  }
 .education {
  padding: 20px;
  p {
    text-align: justify;
    padding: 0px 20px;
    }
  h2 {
    padding-bottom: 0px;
    }
  }

  .datum {
  margin-top: 30px;
  }

  .work {
    padding: 20px;
  p {
    text-align: justify;
    }
  }

  .text-container {
    margin-top: 40px;
  }
  .profile-pic{
    margin-top: 0px;
    margin-bottom: 0px;
  }

}

