h1 {
  font-size: 35px;
  font-weight: bold;
  color: white;
  text-transform: uppercase;
}

h2 {
  font-size: 25px;
  padding: 10px 20px;
  text-transform: uppercase;
}

h3 {
  font-size: 16px;
  padding: 10px 20px;
}

