
<div class="title" id="home">
  <h1>The Next Step</h1>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-sm-offset-3">
        <p>In need of a fresh fullstack-webdeveloper with a creative background and enthusiastic mindset ?</p>
      </div>
    </div>
  </div>
</div>


<div class="who">
  <div class="container-info">
    <div class="container-photo">
      <div class="pf-p">
        <%= image_tag 'tim-profile.jpg', class: 'profile-pic' %>
      </div>
    </div>
    <div class="info-text">
      <h2>Want to get to know <b>me ?</b></h2>
      <p>Making, creating and doing are keywords that make a big part of my personality and are goals I live by. Diversity in my line of work is something I really treasure to widen our field of view for new opportunities and a pleasant experience.</p>

      <p>Creating an atmosphere where people feel at ease and get the opportunity to flourish is something to strive for, working in a team where we can build on projects made bigger through collaboration.</p>

      <div class="line-left"></div>
    </div>
  </div>
  <a href="#contact"><div class="sphere" style="background-color:white"><i class="fa fa-angle-down" style="color:#1B1E25"></i></div></a>
</div>

<div class="info" id="contact">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-5 col-sm-offset-1 col-md-5 col-md-offset-2">
        <h2>Get <b>Connected</b></h2>
        <div class="line-left"></div>
        <div class="content-info">
          <div class="contact-links">
            <i class="fa fa-phone-square"></i>
            <div>+ 31 6 15 83 29 91</div>
          </div>
          <div class="contact-links">
            <i class="fa fa-envelope-o"></i>
            <a href="mailto:tim.thuis@gmail.com?SUBJECT=Say Hello!">tim.thuis@gmail.com</a>
          </div>
          <div class="contact-links">
            <i class="fa fa-facebook-square"></i>
            <a href="http://www.facebook.com/timthuis" target="_blank">facebook.com/timthuis</a>
          </div>
          <div class="contact-links">
            <i class="fa fa-code-fork"></i>
            <a href="http://www.github.com/TimThuis" target="_blank">github.com/timthuis</a>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-5 col-md-5">
        <h2>The <b>Statistics</b></h2>
        <div class="line-left"></div>
        <div class="content-info">
          <div class="contact-links">
            <i class="fa fa-user"></i>
            <div>Tim Thuis</div>
          </div>
          <div class="contact-links">
            <i class="fa fa-birthday-cake"></i>
            <div>24 september 1989 - Heemstede (NL)</div>
          </div>
          <div class="contact-links">
            <i class="fa fa-map-marker"></i>
            <a href="https://www.google.nl/maps/place/Haarlem/@52.3838233,4.5728393,12z/data=!3m1!4b1!4m2!3m1!1s0x47c5ef6c60e1e9fb:0x8ae15680b8a17e39" target="_blank">Haarlem - The Netherlands</a>
          </div>
          <div class="contact-links">
            <i class="fa fa-car"></i>
            <div>License: Catergory B</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <a href="#portfolio"><div class="sphere" style="background-color:#F5F6FA"><i class="fa fa-angle-down" style="color: #1B1E25"></i></div></a>
</div>

<div class="portfolio" id="portfolio">
  <h2>Let's <b>Create</b> and Play!</h2>
  <div class="line-center"></div>
  <div class="container-project">
<!--   <div class="card-project">
    <img src="images/project-48hrs.jpg" class="portfolio-link">
    <div class="container-project">
      <h3>Project 48hrs</h3>
      <p>My first two week ruby on rails project where I did back-end and 80% of the front-end. Want to see a demo? Contact me! </p>
      <p></p>
    </div> -->
  </div>
  <a href="#education"><div class="sphere" style="background-color:#1B1E25"><i class="fa fa-angle-down" style="color: #FAFAFA"></i></div></a>
</div>


<div class="education" id="education">
  <div class="container">
    <h2>The start of my <b>journey</b>
      <div class="line-center"></div></h2>
      <div class="row">
        <div class="col-xs-12 col-sm-5 text-right">
          <p class="datum">Jan 2016 - April 2016</i> </p>
        </div>
        <div class="col-xs-12 col-sm-5 col-md-7 text-left">
          <span class="school">B. Startup School Amsterdam (BSSA)</span>
          <p class="school-desc">
            Course: Full-stack developer by Le Wagon during an intensive full-time 12-week Bootcamp in web application development in the start-up location B. Amsterdam.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-5 text-right">
          <p class="datum">Sept 2009 - July 2013</i></p>
        </div>
        <div class="col-xs-12 col-sm-5 col-md-7 text-left">
          <span class="school">HKU University of the Arts Utrecht</span>
          <p class="school-desc">
            Facility: Art, Media and Technology - Bachelor of Design
            <br>
            Course: Audio Visuele Media, specialist in conceptual and visual storytelling. - Graduated with honors.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-5 text-right">
          <p class="datum">Sept 2001 - Juli 2008</i></p>
        </div>
        <div class="col-xs-12 col-sm-5 col-md-7 text-left">
          <span class="school">Coornhert Lyceum Haarlem</span>
          <p class="school-desc">
            Course: VWO - Economics & Society
            <br>
            Extra classes: Theatre, management & organization - Graduated.
          </p>
        </div>
      </div>
    </div>
    <a href="#work"><div class="sphere" style="background-color:#1B1E25"><i class="fa fa-angle-down" style="color: white"></i></div></a>
  </div>

  <div class="work" id="work">
    <h2>Practice <b>makes</b> it perfect</h2>
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-4">
          <div class="text-container">
            <h3>Camerawork & Creative</h3>
            <div class="text">
              <p>
                <b>Clients</b>: Imagine People <i>Utrecht</i>, Video Nieuws Bericht <i>Hilversum</i>, Nike Europe <i>Hilversum</i>, Edelman PR <i>Amsterdam</i>, John Doornik Casting <i>Amsterdam</i>, and many others.
              </p>
              <hr>
              <p>
                <b>Tasks</b>: Responsible for the visual storytelling, conceptual ideas and the technical sides of camera’s, lichting, audio and post-production. Mostly for internal video communication and online advertisement.
              </p>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-md-4">
          <div class="text-container">
            <h3>Camera Assistant </h3>
            <div class="text">
              <p>
                <b>Movies</b>: New Kids Nitro, Alles is Familie, De Club van Sinterklaas, Koning van Kantoren and 40 Days of Silence<br>
                <b>Commercials</b>: Holland Casino, Addidas, Nike, G-star, Bijenkorf, Hema, Eneco, ABN-AMRO and many more.
              </p>
              <hr>
              <p>
                <b>Tasks</b>: Responsible for the logistics, building and functioning of the cameras, video and grip equipment. Head of securing film stock or data during the project.
              </p>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-md-4">
          <div class="text-container">
            <h3>Part-time Jobs</h3>
            <div class="text">
              <p>
                <i class="fa fa-angle-right" style="font-size: 20px"></i>
                <b>Company</b>: Repro-Print Reklame <i>Haarlem</i>
              </p>
              <p>
                Studio employee: Basic graphic design and executing of sign-activistische advertisment in / outdoors.
              </p>
              <hr>
              <p>
                <i class="fa fa-angle-right" style="font-size: 20px"></i>
                <b>Company</b>: Choir To The Point <i>Bloemendaal</i>
              </p>
              <p>
                Basic Audio Technician: Responsible voor de soundmix of the choir and the ensemble.
              </p>
              <hr>
              <p>
                <i class="fa fa-angle-right" style="font-size: 20px"></i>
                <b>Company</b>: Siebel Jeweler </a><i>Haarlem</i>
              </p>
              <p>
                Salesman: Head sales watches en technical support in the store.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <a href="#skills"><div class="sphere" style="background-color:#F5F6FA"><i class="fa fa-angle-down" style="color: #1B1E25"></i></div></a>
  </div>

  <div class="skills" id="skills">
    <div class="title-skills">
      <h2>Let's <b>show</b> off!</h2>
      <p>After a intense coding bootcamp of 3 months I can finally show you what I have learned</p>
    </div>
    <div class="line-center"></div>
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-4">
          <div class="card-skills">
            <div class="skill-container">
              <img src="images/tools.png" class="skills-img">
            </div>
            <h3>Tools</h3>
            <div class="counter">
              <div class="skills-check">
                <i class="fa fa-check"></i>
                <p>Terminal</p>
              </div>
              <div class="skills-check">
                <i class="fa fa-check"></i>
                <p>Bootstrap & Flexbox</p>
              </div>
              <div class="skills-check">
                <i class="fa fa-check"></i>
                <p>Photoshop</p>
              </div>
              <div class="skills-check">
                <i class="fa fa-check"></i>
                <p>Illustrator</p>
              </div>
              <div class="skills-check">
                <i class="fa fa-check" class="color: #ec971f;"></i>
                <p>Indesign</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4">
          <div class="card-skills">
            <div class="skill-container">
              <img src="images/code.png" class="skills-img">
            </div>
            <h3>Coding</h3>
            <div class="counter">
              <div class="skills-check">
                <i class="fa fa-check"></i>
                <p>Ruby</p>
              </div>
              <div class="skills-check">
                <i class="fa fa-check"></i>
                <p>Ruby on Rails</p>
              </div>
              <div class="skills-check">
                <i class="fa fa-check"></i>
                <p>HMTL5 & CSS3</p>
              </div>
              <div class="skills-check">
                <i class="fa fa-check"></i>
                <p>SQL & Postgre SQL</p>
              </div>
              <div class="skills-check">
                <i class="fa fa-check" class="color: #ec971f;"></i>
                <p>Javascript, Jquery, Ajax & React</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4">
          <div class="card-skills">
            <div class="skill-container">
              <img src="images/video.png" class="skills-img">
            </div>
            <h3>Video</h3>
            <div class="counter">
              <div class="skills-check">
                <i class="fa fa-check"></i>
                <p>Adobe Premiere Pro</p>
              </div>
              <div class="skills-check">
                <i class="fa fa-check"></i>
                <p>Adobe After Effects</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <a href="#home"><div class="sphere" style="background-color:#1B1E25;line-height: 40px"><i class="fa fa-angle-up" style="color: #FAFAFA"></i></div></a>
  </div>

  <div class="footer" id="footer">
  </div>

</div>

