
<div class="title">
  <div class="nav">
<!--     <ul>
      <li><a href="#who">Who</a></li>
      <li><a href="#contact">Contact</a></li>
      <li><a href="#education">Education</a></li>
      <li><a href="#work">Work</a></li>
      <li><a href="#skills">Skills</a></li>
    </ul> -->
  </div>
  <h1>The Next Step</h1>
  <p>In need of a coder with a creative background and enthusiastic mindset.</p>
</div>

<div class="who" id="who">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-8 col-md-offset-2 text-left">
        <h2>Want to know <strong>me?</strong></h2>
        <p>Making, creating and doing are keywords that make a big part of my personality and are goals I life by. Creating an atmosphere where people feel at ease and get the chancge to flourish. Working in a team where we can build on projects made bigger through collaboration. Diversity in my line of work is something I really treasure to widen your field of view for new opportunities.
        </p>
        <div class="line-left"></div>
      </div>
    </div>
  </div>
  <div class="sphere" style="background-color:white"><i class="fa fa-angle-down" style="color:#1B1E25"></i></div>
</div>

<div class="info" id="contact">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-5 col-md-offset-2 ">
        <h2>Get <strong>Connected</strong></h2>
        <div class="line-left">
        </div>
        <p>
          <i class="fa fa-phone"></i>
          &nbsp; + 31 6 15 83 29 91
        </p>
        <p>
          <i class="fa fa-envelope-o"></i>
          <A HREF="mailto:tim.thuis@gmail.com">&nbsp;tim.thuis@gmail.com</A>
        </p>
        <p>
          <i class="fa fa-code-fork"></i>
          <a href="http://www.github.com/TimThuis">&nbsp;github.com/TimThuis</a>
        </p>
      </div>
      <div class="col-xs-12 col-md-5">
        <h2>The <strong>Statistic</strong></h2>
        <div class="line-left">
        </div>
        <p>
          <i class="fa fa-birthday-cake"></i>
          &nbsp;24 september 1989 - Heemstede (NL)
        </p>
        <p>
          <i class="fa fa-home"></i>
          &nbsp;Haarlem - The Netherlands
        </p>
        <p>
          <i class="fa fa-car"></i>
          &nbsp;License: Catergory B
        </p>
      </div>
    </div>
  </div>
  <div class="sphere" style="background-color:#FAFAFA"><i class="fa fa-angle-down" style="color: #1B1E25"></i></div>
</div>

<div class="education" id="education">
  <div class="container">
    <h2>
      The start of my <strong>journey</strong>
      <div class="line-center" style="background-color:white"></div>
    </h2>
    <div class="row">
      <div class="col-xs-12 col-md-5 text-right">
        <p>Jan 2016 / current }</i> </p>
      </div>
      <div class="col-xs-12 col-md-7 text-left">
        <span class="school">B. Startup School Amsterdam (BSSA)</span>
        <p>
          Course: Full-stack developer by Le Wagon during an intensive full-time 12-week Bootcamp in web application development.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-md-5 text-right">
        <p>Sept 2009 / July 2013 }</i></p>
      </div>
      <div class="col-xs-12 col-md-7 text-left">
        <span class="school">HKU University of the Arts Utrecht</span>
        <p>
          facility: Art, Media and Technology - Bachelor of Design
          <br>
          Course: Audio Visuele Media - Graduated with honors.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-md-5 text-right">
        <p>Sept 2001 / Juli 2008 }</i></p>
      </div>
      <div class="col-xs-12 col-md-7 text-left">
        <span class="school">Coornhert Lyceum Haarlem</span>
        <p>
          Course: VWO - Economics & Society
          <br>
          Extra classes: Theatre, management & organization - Graduated.
        </p>
      </div>
    </div>
  </div>
  <div class="sphere" style="background-color:#1B1E25"><i class="fa fa-angle-down" style="color: white"></i></div>
</div>

<div class="work" id="work">
  <h2>Practise <strong>makes</strong> perfect</h2>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-4">
        <div class="text-container">
          <h3>Camerawork & Creative</h3>
          <div class="text">
            <p>
              <strong>Clients</strong> : <a href="http://imaginepeople.nl/">Imagine People </a> <i>Utrecht</i>, <a href="http://www.videonieuwsbericht.nl">Video Nieuws Bericht</a> <i>Hilversum</i>, <a href="http://www.nike.com/">Nike Europe</a> <i>Hilversum</i>, <a href="http://www.edelmanpr.nl/">Edelman PR </a> <i>Amsterdam</i>, <a href="http://www.johndoornikcasting.nl/">John Doornik Casting</a> <i>Amsterdam</i>, and many others.
            </p>
            <p>
              <strong>Tasks</strong> : Responsible for the visual storytelling, conceptual ideas and the technical sides of camera’s, lichting, audio and post-production. Mostly for internal video communication and online advertisement.
            </p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-md-4">
        <div class="text-container">
          <h3>Technical Camera Assistant </h3>
          <div class="text">
            <p>
              <strong>Movies</strong> : <a href="http://www.imdb.com/title/tt2043932/?ref_=fn_al_tt_1">New Kids Nitro</a>, <a href="http://www.imdb.com/title/tt2226285/?ref_=fn_al_tt_1">Alles is Familie</a> <br>
              <strong>Commercials</strong> : Holland Casino, Addidas, Nike, G-star, Bijenkorf, Hema, Eneco, ABN-AMRO and many more.
            </p>
            <p>
              <strong>Tasks</strong> : Responsible for the logistics, building and functioning of the cameras, video and grip equipment. Head of securing film stock or data during the project.
            </p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-md-4">
        <div class="text-container">
          <h3>Part-time Jobs</h3>
          <div class="text">
            <p>
              <strong>Company</strong> : Repro-Print Reklame <i>Haarlem</i>
            </p>
            <p>
              <strong>Studio employee</strong> - Tasks : Basic graphic design and executing of sign-activistische advertisment in / outdoors.
            </p>
          </div>
          <div class="simpel-line"></div>
          <div class="text">
            <p>
              <strong>Company</strong> : Choir To The Point <i>Bloemendaal</i>
            </p>
            <p>
              <strong>Basic Audio Technician</strong> -  Tasks : Responsible voor de soundmix of the choir and the ensemble.
            </p>
          </div>
          <div class="simpel-line"></div>
          <div class="text">
            <p>
              <strong>Company</strong> : Siebel Jeweler <i>Haarlem</i>
            </p>
            <p>
              <strong>Salesman</strong> - Tasks : Head sales watches en technical support in the store.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="sphere" style="background-color:#FAFAFA"><i class="fa fa-angle-down" style="color: #1B1E25"></i></div>
</div>

<div class="skills" id="skills">
  <h2>Let's show off!</h2>
  <div class="line-center" style="background-color:#1B1E25"></div>
  <p>My knowledge of Software and Tools</p>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-5 col-md-offset-1">
        <div class="box">
          <h3><strong>Tools</strong></h3>
          <ul class="text-left">
            <li>HTML5 & CSS3</li>
            <li>Javascript & jQuery</li>
            <li>React.js</li>
            <li>CCS techniques (flexbox)</li>
            <li>Bootstrap</li>
            <li>Adobe,- Premiere Pro, After Effects, Illustrator, Photoshop </li>
            <li>Final Cut Pro x</li>
          </ul>
        </div>
      </div>
      <div class="col-xs-12 col-md-5">
        <div class="box">
          <h3><strong>Coding</strong></h3>
          <ul class="text-left">
            <li>
              <li>Ruby</li>
              <li>Ruby on Rails</li>
              <li>SQL</li>
              <li>PostgreSQL</li>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
